@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.calculator {
  width: 360px;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#display {
  background-color: #000000;
  color: #ffffff;
  font-size: 2.5em;
  padding: 20px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  font-size: 1.5em;
  background-color: #1f1f1f;
  border: none;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: #ffffff;
}

.btn.operator {
  background-color: #282828;
}

.btn-equal {
  background-color: #ff9500;
  color: #ffffff;
  grid-column: span 4;
}

.btn-clear,
.btn-backspace,
.btn-plus-minus,
.btn-percentage {
  background-color: #d32f2f;
  color: #ffffff;
}

.btn-zero {
  grid-column: span 2;
}

.btn:hover {
  background-color: #3c3c3c;
}

.btn:active {
  box-shadow: inset 0 0 5px #000000;
}

.active-operator {
  background-color: #ff9500;
  color: #ffffff;
}

.corner-text {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  opacity: 0.9;
  z-index: 1000;
}
